@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
*:focus {
  outline: none;
}
body {
  margin: 0;
  padding: 0;
  /* <img src="C:\Users\Hemang\Desktop\background.png"> */
  /* background: url("../Hemang/ACM ASSIGNMENT/register/images/background.png");*/
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  height:100vh;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background-color: #f8eded;
}

#login-box {
  display: flex;
  position: relative;
  margin: 5% auto;
  width: 1000px;
  height: 425px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.left {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 400px;
  height: 425px;
  background-color: #f6dfeb;
  border-radius: 10px;
}

h1 {
  margin: 0 0 20px 0;
  font-family: "Times New Roman", Times, serif;
  font-weight: lighter;
  color: #707070;
  
}

.input-box {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  width: calc(100% / 2 - 20px);
}

input[type="text"],
input[type="password"] {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  box-sizing: border-box;
  margin-bottom: 30px;
  padding: 4px;
  width: 450px;
  height: 15px;
  border: none;
  border-bottom: 1px solid #aaa;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-bottom: 2px solid #16a085;
  color: #16a085;
  transition: 0.2s ease;
}

input[type="submit"] {
  margin-top: 20px;
  width: 200px;
  height: 40px;
  background: #16a085;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  /* text-transform: uppercase; */
  transition: 0.1s ease;
  cursor: pointer;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

input[type="submit"]:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

.right {
  position: absolute;
  top: 0;
  left: 400px;
  box-sizing: border-box;
  padding: 30px;
  width: 1050px;
  height: 1000px;
  background: url("https://goo.gl/YbktSj");
  /* background-size: cover; */
  background-position: center;
  border-radius: 0 2px 2px 0;
}

.right .loginwith {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 8px;
  color: #fff;
  text-align: center;
}

button.social-signin {
  margin: 10px;
  width: 70px;
  height: 36px;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  transition: 0.2s ease;
  cursor: pointer;
}

button.social-signin:hover,
button.social-signin:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

button.social-signin:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

button.social-signin-google {
  /* background: #32508e; */
  position: relative;
  margin-left: 150px;
  bottom: 10px;
}

/* button.social-signin.twitter {
  background: #55acee;
} */

button.social-signin-facebook {
  /* background: #dd4b39; */
  position: relative;
  margin-left: 20px;
  width: 45px;
  height: auto;
  bottom: 10px;
}
.leftimg {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  padding-top: 50px;
  top: 59px;
}
.ltxt {
  position: relative;
  /* padding-left: 80px; */
  text-align: center;
}
h3 {
  margin: 0 0 20px 0;
  font-weight: 200;
  font-size: 20px;
}
.ptxt {
  position: relative;
  padding-left: 80px;
  font-family: "Times New Roman", Times, serif;
  font-weight: lighter;
  color: #707070;
}
.pawimg {
  width: 20px;
  padding-left: 10px;
  transform: rotate(-35deg);
  opacity: 0.5;
}
.Gimg {
    position: relative;
    width: 28px;

}
.Fimg {
  position: relative;
  width: 45px;
  right: 8px;
}
.submit-button{
  position: relative;
  bottom: 2px;
  left: 150px;
  font-size: large;
  border-radius: 10px;
}
.lefttxt{
  position: relative;
  top: 100px;
}
.sign-in-link{
  position: relative;
  font-family: "Times New Roman", Times, serif;
  font-weight: lighter;
  top: 45px;
  right: 50px;
  font-size: large;
}

/* .btn {
  display: block;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100px;
  height: 37px;
  background: #e4bad4;
  box-shadow: inset 3px 3px 6px rgba(0,0,0,0.4);
  border-radius: 25px;
  position: relative;
  outline: none;
  bottom: 60px;
  left: 375px;
  transition: all 0.5s;
  /* margin: 100px auto; */
/* }

.btn:before{
  content: "";
  background: #707070;
  height: 50px;
  width: 0px;
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 0;
  transition: all 0.5s;
  z-index: 2;
  
}

.btn:after {
  content: "Enterprise";
  position: absolute;
  font-size: 1rem;
  color: white;
  font-weight: 700;
  top: 30%;
  left: 15%;
  width: 50%;
  transform: translate(20, -50%);
}

.btn:checked{
  background:#fde997 ;
}

.btn:checked:before {
  left: 80%;
}

.btn:checked:after {
  content: "Individual";
  left: 10%;
  color: white;
  width: 50%;
} */ 