@import url('https://fonts.googleapis.com/css2?family=Ovo&display=swap');

html, body{
  overflow-x:hidden ;
}
body{
  position: relative;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ovo', serif;
}
.font-fauna{
   font-family: 'Fauna One', serif;
}

body {
  background: #f8eded;
  /* min-height: 200vh; */
}
.banner {
  position: relative;
  min-height: 100vh;
  background: url(images/hpbg.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items:flex-end;
  padding-left: 570px;
  padding-bottom: 80px;
}
.banner h2 {
  font-size: 4em;
  color: white;
  font-weight: 500;
  line-height: 1.45em;
  background-position: bottom;
  top: 100px;
}
h2{
  font-weight: lighter;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 40px 100px;
  z-index: 1000;
  transition: 0.5s;
}
header ul li a {
  position: relative;
  display: inline-block;
  margin: 0 15px;
  text-decoration: none;
  /* color: rgb(126, 119, 119); */
  color: #fff;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.6s;
  font-size: 1.5em;
}
header.sticky ul li a{
  color: #666;
}
header.sticky {
  background: #f8eded;
  padding: 20px 100px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  color: #666;
}
header .logo {
  font-weight: 500;
  color: white;
  /* color: rgb(126, 119, 119); */
  text-decoration: none;
  font-size: calc(1rem + 1.5vw);
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
  margin-left: 0px;
}
header.sticky .logo {
  /* color: #111; */
  color: #666;
}

.logo .paw {
  color: white;
  transform: rotate(-35deg);
  opacity: 0.5;
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li {
  position: relative;
  list-style: none;
}

.circular-img {
  position: relative;
  width: 100%;
  padding: 100px;
}
.circle {
  position: relative;
  overflow: hidden;
}
.circle img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 20px;
}
.circle1 {
  float: left;
}
.circle2 {
  float: right;
}
.circle p {
  padding-top: 50px;
  font-size: 2.7em;
  color: rgb(126, 124, 122);
}
.service-heading {
  padding: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3em;
  font-weight: lighter;
  color: #666;
}
.services {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f8eded;
  min-height: 80vh;
}
.service-text{
  font-size: calc(1rem + 1vw);
  font-weight: lighter;
}

.container {
  position: relative;
  width: 1000px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px;
}

.container .card {
  position: relative;
  height: 250px;
  background: #f8eded;
  display: flex;
  width: 45%;
  margin: 30px 0;
}

.container .card .img-bx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(250, 208, 208);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

.container .card:hover .img-bx {
  width: 150px;
  height: 150px;
  left: -75px;
  top: calc(50% - 75px);
  transition: 0.5s ease-in-out;
  /* background: #F7E0E9; */
  background: #feeafa;
}

.container .card .img-bx::before {
  content: attr(data-text);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 5em;
  color: #fff;
  font-weight: 700;
}

.container .card .img-bx img {
  max-width: 100px;
  transition: 0.5s ease-in-out;
}

.container .card:hover .img-bx img {
  max-width: 75px;
}

.container .card .content {
  position: absolute;
  right: 0;
  width: calc(100% - 75px);
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .card .content h3 {
  margin-bottom: 5px;
  font-size: 24px;
}

.container .card .content a {
  display: inline-block;
  margin-top: 10px;
  padding: 5px 10px;
  background: #69daba;
  text-decoration: none;
  color: #fff;
}

.testimonial-heading {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3em;
  font-weight: 500;
  color: #666;
}
.testimonial-text{
  font-size: calc(1rem + 1vw);
  padding-top: 10px;
  
}
.testimonies {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Ovo', serif;
  background: #f8eded;
}

.testimonials {
  margin: 100px auto 100px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 20px;
}

.testimonials .clients-card {
  position: relative;
  width: 350px;
  margin: 0 auto;
  background: #fff;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  box-shadow: 0 5px 15px rgba(3, 3, 3, 0.5);
  overflow: hidden;
}

.testimonials .clients-card .layer {
  position: absolute;
  top: calc(100% - 2px);
  left: 0;
  width: 100%;
  height: 100%;
  background: #dbe6fc;
  z-index: 1;
  transition: 0.5s;
}

.testimonials .clients-card:hover .layer {
  top: 0;
}

.testimonials .clients-card .feedbacks {
  position: relative;
  z-index: 2;
}

.testimonials .clients-card .feedbacks p {
  font-size: 18px;
  line-height: 24px;
  color: #707070;
}

.testimonials .clients-card .feedbacks .client-img {
  width: 50%;
  height: 50%;
  margin: 0 auto;
  overflow: hidden;
}

.client-img img {
  width: 50%;
  border-radius: 50%;
  border: 3px solid #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.testimonials .clients-card .feedbacks .client-details h2 {
  font-size: 18px;
  color: #707070;
}

.testimonials .clients-card .feedbacks .client-details h2 em {
  color: #707070;
  font-size: 14px;
  transition: 0.5s;
}

.contact {
  position: relative;
  min-height: 30vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background: #ffdaed;
}

.contact .contact-info {
  max-width: 800px;
  text-align: center;
}

.contact .contact-info h2 {
  font-size: 3em;
  font-weight: 700;
  color: #666;
}

.contact .contact-info p {
  font-weight: 300;
  color: #fff;
}

.contact-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.contact-container .contact-details {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-right: 50px;
}

.contact-container .contact-details .box {
  position: relative;
  padding: 20px 30px;
  display: flex;
}

.box {
  /* background: #fde997; */
  font-size: 2em;
  color: #666;
  font-weight: lighter;
  padding-right: 50px;
  border-radius: 40px;
}

.contact-form {
  width: 40%;
  padding: 40px;
  background: #fff;
}

.contact-form h2 {
  font-size: 30px;
  color:#333;
  font-weight: 500;
}

.contact-form .input-Box {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contact-form .input-Box input,
.contact-form .input-Box textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.contact-form .input-Box span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

.contact-form .input-Box input:focus ~ span,
.contact-form .input-Box input:valid ~ span,
.contact-form .input-Box textarea:focus ~ span,
.contact-form .input-Box textarea:valid ~ span {
  color: #000000;
  font-size: 12px;
  transform: translateY(-20px);
}

.contact-form .input-Box input[type="submit"] {
  width: 100px;
  background: #00bcd4;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}

.footer {
  background: white;
  padding: 20px;
  text-align: center;
  font-size: 20px;
}

@media (max-width: 992px) {
  .banner {
    background: url(images/hpbg.jpg);
    background-size: cover;
  }
  .banner h2 {
    align-items: center;
    justify-content: center;
    padding: 120px;
  }
  header,
  header.sticky {
    padding: 20px 10px;
    z-index: 1000;
  }
  .menu {
    position: fixed;
    top: 75px;
    left: -100%;
    display: block;
    padding: 100px 50px;
    text-align: center;
    width: 100%;
    height: 100vh;
    background: #f8eded;
    transition: 0.5s;
    z-index: 999;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }
  .menu.active {
    left: 0;
  }
  header ul li a {
    color: #666;
    font-size: 24px;
    margin: 10px;
  }
  .toggle {
    width: 40px;
    height: 40px;
    background: url(images/hamburger.png);
    transform: rotate(90deg);
    color: #666;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    cursor: pointer;
  }
  .toggle.active {
    background: url(images/cancel.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
    cursor: pointer;
    color: #666;
    opacity: 0.5;
  }
  .container {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .container .card {
    width: 400px;
  }

  .contact {
    padding: 50px;
  }

  .contact-container {
    flex-direction: column;
  }

  .contact-container .contact-details {
    margin-bottom: 40px;
  }

  .contact-container .contact-details,
  .contact-form {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .banner {
    background: url(images/resp.jpg);
    background-size: cover;
    padding: 0;
    max-width: 100%;
  }
  .circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: auto; */
  }
  .circular-img {
    padding: 0;
    max-width: 100%;
  }

  .circle .img {
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: auto;
  }
  .circle p {
    font-size: 20px;
    text-align: center;
  }
  .container .card {
    max-width: 300px;
    flex-direction: column;
    height: auto;
  }
  .container .card .img-bx {
    position: relative;
  }
  .container .card .img-bx,
  .container .card:hover .img-bx {
    width: 100%;
    height: 200px;
    left: 0;
  }
  .container .card .img-bx img,
  .container .card:hover .img-bx img {
    max-width: 100px;
  }
  .container .card .content {
    position: relative;
    width: 100%;
  }
  .testimonials .clients-card {
    width: 300px;
  }
  .testimonial-heading h2{
    font-size: 2.5rem;
  }
  .service-heading h2{
    padding-top: 2rem;
    padding-bottom: 0.5rem;
    font-size: 2.5rem;
  }
  
}
