@import url('https://fonts.googleapis.com/css2?family=Ovo&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background: #f8e8e8;
    font-family: 'Ovo', serif;
    font-weight: lighter;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 0px;
    z-index: 1000;
    transition: 0.5s;
  }
  header ul li a {
    position: relative;
    display: inline-block;
    margin: 0 15px;
    text-decoration: none;
    color: #666;
    letter-spacing: 2px;
    font-weight: 500;
    transition: 0.6s;
    font-size: 23.6px;
    padding-left: 0px;
    margin-left: 20px;
  }
  header.sticky ul li a {
    color: #666;
    padding: 0px;
  
  }
  header.sticky {
    background: #f8eded;
    padding: 40px 0px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    color: #666;
    
  }
  header .logo {
    font-weight: 550;
    color: #666;
    text-decoration: none;
    font-size: calc(1rem + 1.5vw);
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
    margin-left: 100px;
  }
  header.sticky .logo {
    color: #666;
  }
  
  .logo .paw {
    color: white;
    transform: rotate(-35deg);
    opacity: 0.5;
  }
  
  header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header ul li {
    position: relative;
    list-style: none;
  }
  .home-class{
    position: relative;
    right: 110px;
  }
  .service-class{
    right: 110px;
  }
  .contact-class{
    right: 120px;
  }
  .about-class{
    right: 119px;
  }
  .signout-class{
    right: 120px;
  }
  .section{
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .container{
      width: 100px;
      height: 100px;
      background: wheat;
  }
  
  #chatbox{
      width:500px;
      background:#fff;
      border-radius:6px;
      overflow:hidden;
      height:400px;
      position: absolute;
      top:100px;
      left:44%;
      margin-left:-155px;
      padding-top: 50px;
  }
  
  #friendslist{
      position:absolute;
      top:0;
      left:0;
      width:500px;
      height:484px;
  }
  #topmenu{
      height:50px;
      width:500px;
      border-bottom:1px solid #d8dfe3;	
  }
  

  #topmenu h2{
      text-align: center;
      font-size: 30px;
      color: #666;
      font-weight: lighter;
  }
  #topmenu span{
      	
      width: 96px;
      height: 70px;
      background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/top-menu.png") -3px -118px no-repeat;
  } 
  #topmenu span.friends{margin-bottom:-1px;}
  #topmenu span.chats{background-position:-95px 25px; cursor:pointer;}
  #topmenu span.chats:hover{background-position:-95px -46px; cursor:pointer;}
  #topmenu span.history{background-position:-190px 24px; cursor:pointer;}
  #topmenu span.history:hover{background-position:-190px -47px; cursor:pointer;}
  .friend{
      height:70px;
      border-bottom:1px solid #e7ebee;		
      position:relative;
  }
  .friend:hover{
      background:#f1f4f6;
      cursor:pointer;
  }
    .friend img{
      width:40px;
      border-radius:50%;
      margin:15px;
      float:left;
  }
  .floatingImg{
      width:40px;
      border-radius:50%;
      position:absolute;
      top:0;
      left:12px;
      border:3px solid #fff;
  }
  .friend p{
      padding:15px 0 0 0;			
      /* float:left; */
      width:220px;
      margin: 0 0 0 20px ;
  }
  .friend p strong{
    font-weight:600;
    font-size:15px;
      color:#597a96;  
  
  }
  .friend p span{
      font-size:13px;
      font-weight:400;
      color:#aab8c2;
  }
   .friend .status{
      background:#26c281;
      border-radius:50%;	
      width:9px;
      height:9px;
      position:absolute;
      top:31px;
      right:17px;
  } 
   .friend .status.away{background:#ffce54;}
  .friend .status.inactive{background:#eaeef0;} */
   #search{
      background:#e3e9ed url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/search.png") -11px 0 no-repeat;
      height:60px;
      width:290px;
      position:absolute;
      bottom:0;
      left:0;
  }
  #searchfield{
      background:#e3e9ed;
      margin:21px 0 0 55px;
      border:none;
      padding:0;
      font-size:14px;
      font-family:"Open Sans", sans-serif; 
      font-weight:400px;
      color:#8198ac;
  }
  #searchfield:focus{
       outline: 0;
  } 
   #chatview{
      width:500px;
      height:395px;
      position:absolute;
      top:0;
      left:0;	
      display:none;
      background:#fff;
  }
  #profile{
      height:0;
      overflow:hidden;
      text-align:center;
      color:#fff;
  } 
  .p1 #profile{
      background:#fff url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/timeline1.png") 0 0 no-repeat;
  } 
   #profile .avatar{
      width:68px;
      border:3px solid #fff;
      margin:23px 0 0;
      border-radius:50%;
  } 
   #profile  p{
      font-weight:600;
      font-size:15px;
      margin:118px 0 -1px;
      opacity:0;
      -webkit-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
         -moz-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
          -ms-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
           -o-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
              transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);	
  }
  #profile  p.animate{
      margin-top:97px;
      opacity:1;
      -webkit-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
         -moz-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
          -ms-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
           -o-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
              transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);	
  }
  #profile  span{
      font-weight:400;
      font-size:11px;
  }
  #chat-messages{
      opacity:0;
      margin-top:30px;
      width:500px;
      height:310px;
      overflow-y:scroll;	
      overflow-x:hidden;
      padding-right: 20px;
      -webkit-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
         -moz-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
          -ms-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
           -o-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
              transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
  }

  #chat-message {
      text-align: center;
      font-size: 18px;
      color: #666;
  }
  #chat-messages.animate{
      opacity:1;
      margin-top:0;
  } 
   #chat-messages label{
      color:#aab8c2;
      font-weight:600;
      font-size:1rem;
      text-align:center;
      margin:15px 0;
      width:500px;
      display:block;	
  }
  #chat-messages div.message{
      padding:0 0 30px 58px;
      clear:both;
      margin-bottom:45px;
  }
  #chat-messages div.message.right{
        padding: 0 58px 30px 0;
        margin-right: -19px;
        margin-left: 19px;
  }
  #chat-messages .message img{
        float: left;
        margin-left: -38px;
        border-radius: 50%;
        width: 30px;
        margin-top: 12px;
  }
  #chat-messages div.message.right img{
      float: right;	
      margin-left: 0;
      margin-right: -38px;	
  }
  .message .bubble{	
      background:#f0f4f7;
      font-size:13px;
      font-weight:600;
      padding:12px 13px;
      border-radius:5px 5px 5px 0px;
      color:#8495a3;
      position:relative;
      float:left;
  }
  #chat-messages div.message.right .bubble{
      float:right;
      border-radius:1px 1px 0px 1px ;
  }
  .bubble .corner{
      background:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/bubble-corner.png") 0 0 no-repeat;
      position:absolute;
      width:7px;
      height:7px;
      left:-5px;
      bottom:0;
  }
  div.message.right .corner{
      background:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/bubble-cornerR.png") 0 0 no-repeat;
      left:auto;
      right:-5px;
  }
  .bubble span{
        color: #aab8c2;
        font-size: 11px;
        position: absolute;
        right: 0;
        bottom: -22px;
  }
  #sendmessage{
      height:10px;
      border-top:1px solid #666;	
      position:absolute;
      bottom:0;
      right:0px;
      width:500px;
      background:#fff;
      padding-bottom:50px;
  }
  #sendmessage input{
      background:#fff;
      margin:21px 0 0 21px;
      border:none;
      padding:0;
      font-size:14px;
      font-family:"Open Sans", sans-serif; 
      font-weight:400px;
      color:#aab8c2;
  }
  
  #sendmessage input:focus{
       outline: 0;
  }
  #sendmessage button{
      background:#fff url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/send.png") 0 -41px no-repeat;
      width:30px;
      height:30px;
      position:absolute;
      right: 15px;
      top: 23px;
      border:none;
  }
  #sendmessage button:hover{
      cursor:pointer;
      background-position: 0 0 ;
  }
  #sendmessage button:focus{
       outline: 0;	 
  } */
  
   #close{
      position:absolute;
      top: 8px;	
      opacity:0.8;
       right: 10px;
      width:20px;
      height:20px;
      cursor:pointer;
  }
  #close:hover{
      opacity:1;
  }
  .cx, .cy{
      background:#333;
      position:absolute;
      width:0px;
      top:15px;
      right:15px;
      height:3px;
      -webkit-transition: all 250ms ease-in-out;
         -moz-transition: all 250ms ease-in-out;
          -ms-transition: all 250ms ease-in-out;
           -o-transition: all 250ms ease-in-out;
              transition: all 250ms ease-in-out;
  }
  .cx.s1, .cy.s1{	
      right:0;	
      width:20px;	
      -webkit-transition: all 100ms ease-out;
         -moz-transition: all 100ms ease-out;
          -ms-transition: all 100ms ease-out;
           -o-transition: all 100ms ease-out;
              transition: all 100ms ease-out;
  }
  .cy.s2{	
      -ms-transform: rotate(50deg); 
      -webkit-transform: rotate(50deg); 
      transform: rotate(50deg);		 
      -webkit-transition: all 100ms ease-out;
         -moz-transition: all 100ms ease-out;
          -ms-transition: all 100ms ease-out;
           -o-transition: all 100ms ease-out;
              transition: all 100ms ease-out;
  }
  .cy.s3{	
      -ms-transform: rotate(45deg); 
      -webkit-transform: rotate(45deg); 
      transform: rotate(45deg);		 
      -webkit-transition: all 100ms ease-out;
         -moz-transition: all 100ms ease-out;
          -ms-transition: all 100ms ease-out;
           -o-transition: all 100ms ease-out;
              transition: all 100ms ease-out;
  }
  .cx.s1{	
      right:0;	
      width:20px;	
      -webkit-transition: all 100ms ease-out;
         -moz-transition: all 100ms ease-out;
          -ms-transition: all 100ms ease-out;
           -o-transition: all 100ms ease-out;
              transition: all 100ms ease-out;
  }
  .cx.s2{	
      -ms-transform: rotate(140deg); 
      -webkit-transform: rotate(140deg); 
      transform: rotate(140deg);		 
      -webkit-transition: all 100ms ease-out;
         -moz-transition: all 100ms ease-out;
          -ms-transition: all 100ease-out;
           -o-transition: all 100ms ease-out;
              transition: all 100ms ease-out;
  }
  .cx.s3{	
      -ms-transform: rotate(135deg); 
      -webkit-transform: rotate(135deg); 
      transform: rotate(135deg);		 
      -webkit-transition: all 100ease-out;
         -moz-transition: all 100ms ease-out;
          -ms-transition: all 100ms ease-out;
           -o-transition: all 100ms ease-out;
              transition: all 100ms ease-out;
  }
  #chatview, #sendmessage { 
  overflow:hidden; 
  border-radius:6px; 
  } */

  .footer {
    padding: 20px;
    text-align: center;
    font-size: 18px;
    background: white;
    color: #666;
    position: relative;
    top: 585px;
  }


  @media screen and (max-width: 900px) {
    body {
      overflow-x: hidden;
    }
    header,
    header.sticky {
      padding: 30px 0px;
      z-index: 1000;
    }
    .menu {
      position: fixed;
      top: 75px;
      left: -130%;
      display: block;
      padding: 100px 0px;
      text-align: center;
      width: 100%;
      height: 100vh;
      background: #f8eded;
      transition: 0.5s;
      z-index: 999;
      border-top: 1px solid rgba(0, 0, 0, 0.2);
    }
    .menu.active {
      left: 0px;
    }
    
    header ul li a {
      color: #666;
      font-size: 24px;
      margin: 10px;
      left: 70px;
      padding-left: 75px;
      justify-content: center;
      text-align: center;
    }
    .toggle {
      width: 40px;
      height: 40px;
      background: url(images/hamburger.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 30px;
      cursor: pointer;
      margin-right: 30px;
      transform: rotate(90deg);
    }
    .toggle.active {
      background: url(images/cancel.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 25px;
      cursor: pointer;
      opacity: 0.5;
    }
  
    .card {
      width: calc(50% - 2rem);
    }
    .footer {
        width: 125%;
    }
  }

  @media screen and (max-width: 500px) {
      .footer {
          width: 125%;
      }
  }
  